<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.webServer>

    <!--URL rewriting rules-->
    <rewrite>
      <rules>

        <!-- By default, redirect all paths to public folder for asset files root path -->
        <!--<rule name="Redirect to public folder">
          <match url="^(.*)" ignoreCase="false" />
          <action type="Rewrite" url="front-end/{R:1}" />
          --><!--<action type="Rewrite" url="public/{R:1}" logRewrittenUrl="true" />--><!--
        </rule>-->

        <!-- Once all paths are relative to public/ folder, do not handled further requests to files, only handle route requests to redirect to index page (load angular app to handle route) -->
        <rule name="AngularJS Routes Redirect" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">

            <!--Ignore supported file-type extensions from redirection, so that not found files are served with a correct 404 (instead of index.html)-->
            <add input="{REQUEST_FILENAME}" pattern="^.*\.(?:css|html|js|png|jpg|ico)$" ignoreCase="true" negate="true" />
            <!--<add input="{REQUEST_FILENAME}" pattern="^.*\/[^.]+\.(?:css|html|js|png|jpg|ico)$" negate="true" />-->

            <!--TODO MGA : probably not usefull as above rule will reject those files from treatment-->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />

            <!--<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" /> TODO MGA : if WebAPI hosted on same project, which is not currently the case here -->
          </conditions>

          <action type="Rewrite" url="index.html" />
          <!--<action type="Rewrite" url="public/" logRewrittenUrl="true" />-->
        </rule>

      </rules>
    </rewrite>

    <!--Default document redirect-->
    <defaultDocument>
      <files>
        <clear />
        <!--only the relative path form redirected "public" folder should be indicated, otherwise public/index.html not found-->
        <add value="index.html" />
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>